<div class="container">
  <div class="row">
    <div class="col">
      <h1>Aplicación de Calculadora</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
          <ul class="nav navbar-nav">
            <li><a><label>Operando A</label></a></li>
            <li>
              <a>
                <input
                type="text"
                class = "form-control">
              </a>
            </li>
            <li><a><label>Operando B</label></a></li>
            <li>
              <a>
                <input
                 type="text"
                 class = "form-control">
              </a>
            </li>
            <li>
              <a>


              </a>
            </li>
          </ul>
        </div>
    </div>
</div>
